.header {
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  width: 100%;
  transition: left 0.25s, background-color 0.25s, box-shadow 0.25s;

  &--move {
    left: -50%;
  }

  @include desktop {
    left: 0;
  }
}